---
import SearchBar from './SearchBar.jsx';
---

<header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f3e7e8] px-10 py-3">
  <div class="flex items-center gap-8">
    <div class="flex items-center gap-4 text-[#1b0e0e]">
      <div class="size-4">
        <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M24 45.8096C19.6865 45.8096 15.4698 44.5305 11.8832 42.134C8.29667 39.7376 5.50128 36.3314 3.85056 32.3462C2.19985 28.361 1.76794 23.9758 2.60947 19.7452C3.451 15.5145 5.52816 11.6284 8.57829 8.5783C11.6284 5.52817 15.5145 3.45101 19.7452 2.60948C23.9758 1.76795 28.361 2.19986 32.3462 3.85057C36.3314 5.50129 39.7376 8.29668 42.134 11.8833C44.5305 15.4698 45.8096 19.6865 45.8096 24L24 24L24 45.8096Z"
            fill="currentColor"
          ></path>
        </svg>
      </div>
      <h2 class="text-[#1b0e0e] text-lg font-bold leading-tight tracking-[-0.015em]">RecetasDelMundo</h2>
    </div>
    <div class="flex items-center gap-9">
      <a class="text-[#1b0e0e] text-sm font-medium leading-normal" href="/">Inicio</a>
      <a class="text-[#1b0e0e] text-sm font-medium leading-normal" href="/categories">Categorías</a>
      <a class="text-[#1b0e0e] text-sm font-medium leading-normal" href="/countries">Países</a>
      <a class="text-[#1b0e0e] text-sm font-medium leading-normal" href="/architecture">Arquitectura</a>
      <a class="text-[#1b0e0e] text-sm font-medium leading-normal" href="/team">Equipo</a>
    </div>
  </div>
  <div class="flex flex-1 justify-end gap-8">
    <label class="flex flex-col min-w-40 h-12">
      <div class="flex w-full flex-1 items-stretch rounded-lg h-full">
        <div
          class="text-[#994d51] flex border-none bg-[#f3e7e8] items-center justify-center pl-4 rounded-l-lg border-r-0"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
            <path
              d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
            ></path>
          </svg>
        </div>
        <SearchBar client:only="react" />
      </div>
    </label>
  </div>
</header>